In [277]:
import pandas as pd
from datetime import datetime

In [278]:
players = pd.read_csv('dataset_edited/players.csv')
players.rename(columns={'bioID': 'playerID'}, inplace=True)
players

,playerID,pos,height,weight,college,collegeOther,birthDate,age
0,abrahta01w,C,74.0,190.0,George Washington,NaN,1975-09-27,48.04
1,abrossv01w,F,74.0,169.0,Connecticut,NaN,1980-07-09,43.26
2,adairje01w,C,76.0,197.0,George Washington,NaN,1986-12-19,36.81
3,adamsda01w,F-C,73.0,239.0,Texas A&M,Jefferson College (JC),1989-02-19,34.64
4,adamsjo01w,C,75.0,180.0,New Mexico,NaN,1981-05-24,42.38
...,...,...,...,...,...,...,...,...
800,zarafr01w,G,70.0,146.0,NaN,NaN,1976-12-08,46.84
801,zellosh01w,G,70.0,155.0,Pittsburgh,NaN,1986-08-28,37.12
802,zhengha01w,C,80.0,254.0,NaN,NaN,1967-03-07,56.60
803,zirkozu01w,G,69.0,145.0,NaN,NaN,1980-06-06,43.35
804,zollsh01w,G,67.0,148.0,Virginia,NaN,1986-07-11,37.25

In [279]:
players_awards = pd.read_csv('dataset_edited/awards_players_abrev.csv')
players_awards

      playerID   award  year
0   thompti01w  ASGMVP     1
1   leslili01w  ASGMVP     2
2   leslili01w  ASGMVP     3
3   teaslni01w  ASGMVP     4
4   swoopsh01w  ASGMVP     6
..         ...     ...   ...
90  boltoru01w  WADTHM     7
91  holdsch01w  WADTHM     7
92  penicti01w  WADTHM     7
93  tauradi01w  WADTHM     7
94  weathte01w  WADTHM     7

[95 rows x 3 columns]

In [280]:
coaches = pd.read_csv('dataset_edited/coaches.csv')
coaches = coaches.set_index(['tmID', 'year'])

coaches.rename(columns={'stint': 'coachStint', 'won':'coachWon', 'lost':'coachLost', 'W/L Ratio': 'coach W/L Ratio'}, inplace=True)
coaches

              coachID  coachStint  coachWon  coachLost  coach W/L Ratio
tmID year
WAS  5     adamsmi01w           0        17         17         1.000000
NYL  1     adubari99w           0        20         12         1.666667
     2     adubari99w           0        21         11         1.909091
     3     adubari99w           0        18         14         1.285714
     4     adubari99w           0        16         18         0.888889
...               ...         ...       ...        ...              ...
IND  6     wintebr01w           0        21         13         1.615385
     7     wintebr01w           0        21         13         1.615385
     8     wintebr01w           0        21         13         1.615385
MIN  8     zierddo99w           0        10         24         0.416667
     9     zierddo99w           0        16         18         0.888889

[162 rows x 5 columns]

In [281]:
teams = pd.read_csv('dataset_edited/teams.csv')
teams = teams.set_index(['tmID', 'year'])
teams

          confID  seed results playoff  o_fgm  o_fga  o_ftm  o_fta  o_3pm  \
tmID year
ATL  9        EA     7  label0       N    895   2258    542    725    202
     10       EA     2  label1       Y   1089   2428    569    755    114
CHA  1        EA     8  label0       N    812   1903    431    577    131
     2        EA     4  label3       Y    746   1780    410    528    153
     3        EA     2  label1       Y    770   1790    490    663    211
...          ...   ...     ...     ...    ...    ...    ...    ...    ...
WAS  6        EA     5  label0       N    847   1968    388    546    181
     7        EA     4  label1       Y   1016   2199    528    715    187
     8        EA     5  label0       N    877   2170    668    839    163
     9        EA     6  label0       N    885   2131    435    659    163
     10       EA     4  label1       Y    933   2205    580    827    139

           o_3pa  ...  d_pf  d_stl  d_to  d_blk  d_pts  opptmDRB  win_ratio  \
tmID year         ...
ATL  9       598  ...   726    310   561    134   2879         0      0.118
     10      374  ...   700    347   601    133   2797         0      0.529
CHA  1       386  ...   596    259   426    123   2429         0      0.250
     2       428  ...   579    257   447    124   2009         0      0.562
     3       527  ...   600    208   424    103   2133         0      0.562
...          ...  ...   ...    ...   ...    ...    ...       ...        ...
WAS  6       510  ...   638    205   504    108   2305         0      0.471
     7       522  ...   687    252   573     89   2657         0      0.529
     8       528  ...   762    256   579    103   2639         0      0.471
     9       460  ...   708    314   530    146   2601         0      0.294
     10      426  ...   778    315   576    156   2622         0      0.471

           homeW_ratio  awayW_ratio   min
tmID year
ATL  9           0.059        0.176  6825
     10          0.706        0.353  6950
CHA  1           0.312        0.188  6475
     2           0.688        0.438  6500
     3           0.688        0.438  6450
...                ...          ...   ...
WAS  6           0.588        0.353  6900
     7           0.765        0.294  6850
     8           0.471        0.471  6900
     9           0.353        0.235  6825
     10          0.647        0.294  6875

[142 rows x 39 columns]

In [282]:
teamsCoachesComb = coaches.join(teams, how='inner')
teamsCoachesComb

              coachID  coachStint  coachWon  coachLost  coach W/L Ratio  \
tmID year
ATL  9     meadoma99w           0         4         30         0.133333
     10    meadoma99w           0        18         16         1.125000
CHA  1     dunntr01wc           0         8         24         0.333333
     2     donovan99w           0        18         14         1.285714
     3     donovan99w           0        18         14         1.285714
...               ...         ...       ...        ...              ...
WAS  8     adubari99w           1         0          4         0.000000
     8     rollitr01w           2        16         14         1.142857
     9     kenlaje99w           2         2         10         0.200000
     9     rollitr01w           1         8         14         0.571429
     10    plankju99w           0        16         18         0.888889

          confID  seed results playoff  o_fgm  ...  d_pf  d_stl  d_to  d_blk  \
tmID year                                      ...
ATL  9        EA     7  label0       N    895  ...   726    310   561    134
     10       EA     2  label1       Y   1089  ...   700    347   601    133
CHA  1        EA     8  label0       N    812  ...   596    259   426    123
     2        EA     4  label3       Y    746  ...   579    257   447    124
     3        EA     2  label1       Y    770  ...   600    208   424    103
...          ...   ...     ...     ...    ...  ...   ...    ...   ...    ...
WAS  8        EA     5  label0       N    877  ...   762    256   579    103
     8        EA     5  label0       N    877  ...   762    256   579    103
     9        EA     6  label0       N    885  ...   708    314   530    146
     9        EA     6  label0       N    885  ...   708    314   530    146
     10       EA     4  label1       Y    933  ...   778    315   576    156

           d_pts  opptmDRB  win_ratio  homeW_ratio  awayW_ratio   min
tmID year
ATL  9      2879         0      0.118        0.059        0.176  6825
     10     2797         0      0.529        0.706        0.353  6950
CHA  1      2429         0      0.250        0.312        0.188  6475
     2      2009         0      0.562        0.688        0.438  6500
     3      2133         0      0.562        0.688        0.438  6450
...          ...       ...        ...          ...          ...   ...
WAS  8      2639         0      0.471        0.471        0.471  6900
     8      2639         0      0.471        0.471        0.471  6900
     9      2601         0      0.294        0.353        0.235  6825
     9      2601         0      0.294        0.353        0.235  6825
     10     2622         0      0.471        0.647        0.294  6875

[162 rows x 44 columns]

In [283]:
# playerAwardsComb and playerTeams
playerTeams = pd.read_csv('dataset_edited/players_teams_w_percentages_wo_post.csv')
playerTeams.set_index('playerID', inplace=True)
playerTeams

,year,stint,tmID,GP,GS,minutes,points,oRebounds,dRebounds,rebounds,...,rpg,spg,bpg,topg,pfpg,fg%,3p%,ft%,orpg,drpg
playerID,,,,,,,,,,,,,,,,,,,,,
abrossv01w,2,0,MIN,26,23,846,343,43,131,174,...,6.692308,1.615385,0.346154,3.269231,2.692308,38.907850,25.000000,72.727273,1.653846,5.038462
abrossv01w,3,0,MIN,27,27,805,314,45,101,146,...,5.407407,1.555556,0.370370,3.407407,2.703704,37.658228,33.333333,48.275862,1.666667,3.740741
abrossv01w,4,0,MIN,30,25,792,318,44,97,141,...,4.700000,1.466667,0.366667,3.000000,2.633333,39.298246,30.487805,70.408163,1.466667,3.233333
abrossv01w,5,0,MIN,22,11,462,146,17,57,74,...,3.363636,1.363636,0.090909,1.954545,1.909091,35.251799,37.735849,60.869565,0.772727,2.590909
abrossv01w,6,0,MIN,31,31,777,304,29,78,107,...,3.451613,1.548387,0.193548,2.580645,2.774194,39.492754,40.243902,72.602740,0.935484,2.516129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zakalok01w,3,2,PHO,5,0,37,6,0,3,3,...,0.600000,0.000000,0.000000,0.800000,0.800000,33.333333,0.000000,50.000000,0.000000,0.600000
zarafr01w,6,0,SEA,34,4,413,90,11,28,39,...,1.147059,0.470588,0.029412,1.205882,0.852941,40.000000,22.727273,80.952381,0.323529,0.823529
zellosh01w,10,0,DET,34,4,802,406,25,81,106,...,3.117647,0.794118,0.500000,2.264706,3.264706,39.730640,30.612245,85.635359,0.735294,2.382353
zirkozu01w,4,0,WAS,6,0,30,11,0,2,2,...,0.333333,0.000000,0.000000,0.333333,0.500000,50.000000,50.000000,100.000000,0.000000,0.333333
zollsh01w,9,0,MIN,6,0,30,10,1,2,3,...,0.500000,0.166667,0.000000,0.500000,0.333333,25.000000,33.333333,83.333333,0.166667,0.333333

In [284]:

players = players.set_index('playerID')

playersTeamsComb = playerTeams.join(players, how='inner')
playersTeamsComb.to_csv('playersTeamsComb.csv')
playersTeamsComb

,year,stint,tmID,GP,GS,minutes,points,oRebounds,dRebounds,rebounds,...,ft%,orpg,drpg,pos,height,weight,college,collegeOther,birthDate,age
playerID,,,,,,,,,,,,,,,,,,,,,
abrossv01w,2,0,MIN,26,23,846,343,43,131,174,...,72.727273,1.653846,5.038462,F,74.0,169.0,Connecticut,NaN,1980-07-09,43.26
abrossv01w,3,0,MIN,27,27,805,314,45,101,146,...,48.275862,1.666667,3.740741,F,74.0,169.0,Connecticut,NaN,1980-07-09,43.26
abrossv01w,4,0,MIN,30,25,792,318,44,97,141,...,70.408163,1.466667,3.233333,F,74.0,169.0,Connecticut,NaN,1980-07-09,43.26
abrossv01w,5,0,MIN,22,11,462,146,17,57,74,...,60.869565,0.772727,2.590909,F,74.0,169.0,Connecticut,NaN,1980-07-09,43.26
abrossv01w,6,0,MIN,31,31,777,304,29,78,107,...,72.602740,0.935484,2.516129,F,74.0,169.0,Connecticut,NaN,1980-07-09,43.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zakalok01w,3,2,PHO,5,0,37,6,0,3,3,...,50.000000,0.000000,0.600000,C,78.0,174.0,NaN,NaN,1977-12-18,45.81
zarafr01w,6,0,SEA,34,4,413,90,11,28,39,...,80.952381,0.323529,0.823529,G,70.0,146.0,NaN,NaN,1976-12-08,46.84
zellosh01w,10,0,DET,34,4,802,406,25,81,106,...,85.635359,0.735294,2.382353,G,70.0,155.0,Pittsburgh,NaN,1986-08-28,37.12
zirkozu01w,4,0,WAS,6,0,30,11,0,2,2,...,100.000000,0.000000,0.333333,G,69.0,145.0,NaN,NaN,1980-06-06,43.35
zollsh01w,9,0,MIN,6,0,30,10,1,2,3,...,83.333333,0.166667,0.333333,G,67.0,148.0,Virginia,NaN,1986-07-11,37.25

In [285]:
players_awards = players_awards.set_index(['playerID', 'year'])
playersTeamsComb = playersTeamsComb.reset_index().set_index(['playerID', 'year'])
playersTeamsAwardsComb = playersTeamsComb.join(players_awards , how='left')
playersTeamsAwardsComb

                 stint tmID  GP  GS  minutes  points  oRebounds  dRebounds  \
playerID   year
abrossv01w 2         0  MIN  26  23      846     343         43        131
           3         0  MIN  27  27      805     314         45        101
           4         0  MIN  30  25      792     318         44         97
           5         0  MIN  22  11      462     146         17         57
           6         0  MIN  31  31      777     304         29         78
...                ...  ...  ..  ..      ...     ...        ...        ...
zakalok01w 3         2  PHO   5   0       37       6          0          3
zarafr01w  6         0  SEA  34   4      413      90         11         28
zellosh01w 10        0  DET  34   4      802     406         25         81
zirkozu01w 4         0  WAS   6   0       30      11          0          2
zollsh01w  9         0  MIN   6   0       30      10          1          2

                 rebounds  assists  ...      orpg      drpg  pos  height  \
playerID   year                     ...
abrossv01w 2          174       53  ...  1.653846  5.038462    F    74.0
           3          146       60  ...  1.666667  3.740741    F    74.0
           4          141       82  ...  1.466667  3.233333    F    74.0
           5           74       45  ...  0.772727  2.590909    F    74.0
           6          107       60  ...  0.935484  2.516129    F    74.0
...                   ...      ...  ...       ...       ...  ...     ...
zakalok01w 3            3        0  ...  0.000000  0.600000    C    78.0
zarafr01w  6           39       51  ...  0.323529  0.823529    G    70.0
zellosh01w 10         106       62  ...  0.735294  2.382353    G    70.0
zirkozu01w 4            2        1  ...  0.000000  0.333333    G    69.0
zollsh01w  9            3        3  ...  0.166667  0.333333    G    67.0

                 weight      college  collegeOther   birthDate    age  award
playerID   year
abrossv01w 2      169.0  Connecticut           NaN  1980-07-09  43.26    NaN
           3      169.0  Connecticut           NaN  1980-07-09  43.26    NaN
           4      169.0  Connecticut           NaN  1980-07-09  43.26    NaN
           5      169.0  Connecticut           NaN  1980-07-09  43.26    NaN
           6      169.0  Connecticut           NaN  1980-07-09  43.26    NaN
...                 ...          ...           ...         ...    ...    ...
zakalok01w 3      174.0          NaN           NaN  1977-12-18  45.81    NaN
zarafr01w  6      146.0          NaN           NaN  1976-12-08  46.84    NaN
zellosh01w 10     155.0   Pittsburgh           NaN  1986-08-28  37.12    NaN
zirkozu01w 4      145.0          NaN           NaN  1980-06-06  43.35    NaN
zollsh01w  9      148.0     Virginia           NaN  1986-07-11  37.25    NaN

[1880 rows x 42 columns]

In [286]:
teamsCoachesComb = teamsCoachesComb.reset_index().set_index(['tmID', 'year'])
playersTeamsAwardsComb = playersTeamsAwardsComb.reset_index().set_index(['tmID', 'year'])

allComb = playersTeamsAwardsComb.join(teamsCoachesComb, how='inner')
allComb

             playerID  stint  GP  GS  minutes  points  oRebounds  dRebounds  \
tmID year
ATL  9     balesal01w      2  17   9      389      82         20         82
     9     castriz01w      0  29  20      671     269         10         55
     9     desouer01w      0  12   8      277     112         39         40
     9     haynikr01w      0  33   3      486      94         15         41
     9      lacyje01w      0  33  22      605     189         35         54
...               ...    ...  ..  ..      ...     ...        ...        ...
WAS  10    langhcr01w      0  34  22     1013     408        101        167
     10     mannkr01w      0  16   0       95      25          2         12
     10    melvich01w      0  34  33      756     201         79         79
     10    mosbybe01w      0  24   0      169      46         15         22
     10    sanfona01w      0  34  13      663     213         55         92

           rebounds  assists  ...  d_pf  d_stl  d_to  d_blk  d_pts  opptmDRB  \
tmID year                     ...
ATL  9          102       11  ...   726    310   561    134   2879         0
     9           65       52  ...   726    310   561    134   2879         0
     9           79        8  ...   726    310   561    134   2879         0
     9           56       82  ...   726    310   561    134   2879         0
     9           89       27  ...   726    310   561    134   2879         0
...             ...      ...  ...   ...    ...   ...    ...    ...       ...
WAS  10         268       29  ...   778    315   576    156   2622         0
     10          14        6  ...   778    315   576    156   2622         0
     10         158       36  ...   778    315   576    156   2622         0
     10          37        3  ...   778    315   576    156   2622         0
     10         147       22  ...   778    315   576    156   2622         0

           win_ratio  homeW_ratio  awayW_ratio   min
tmID year
ATL  9         0.118        0.059        0.176  6825
     9         0.118        0.059        0.176  6825
     9         0.118        0.059        0.176  6825
     9         0.118        0.059        0.176  6825
     9         0.118        0.059        0.176  6825
...              ...          ...          ...   ...
WAS  10        0.471        0.647        0.294  6875
     10        0.471        0.647        0.294  6875
     10        0.471        0.647        0.294  6875
     10        0.471        0.647        0.294  6875
     10        0.471        0.647        0.294  6875

[2148 rows x 86 columns]

In [287]:
allComb.to_csv('combinedData.csv')