In [29]:
import pandas as pd
from datetime import datetime

In [30]:
players = pd.read_csv('dataset_edited/players.csv')
players.rename(columns={'bioID': 'playerID'}, inplace=True)
players

,playerID,pos,height,weight,college,collegeOther,birthDate,age
0,abrahta01w,C,74.0,190.0,George Washington,NaN,1975-09-27,48.04
1,abrossv01w,F,74.0,169.0,Connecticut,NaN,1980-07-09,43.26
2,adairje01w,C,76.0,197.0,George Washington,NaN,1986-12-19,36.81
3,adamsda01w,F-C,73.0,239.0,Texas A&M,Jefferson College (JC),1989-02-19,34.64
4,adamsjo01w,C,75.0,180.0,New Mexico,NaN,1981-05-24,42.38
...,...,...,...,...,...,...,...,...
800,zarafr01w,G,70.0,146.0,NaN,NaN,1976-12-08,46.84
801,zellosh01w,G,70.0,155.0,Pittsburgh,NaN,1986-08-28,37.12
802,zhengha01w,C,80.0,254.0,NaN,NaN,1967-03-07,56.60
803,zirkozu01w,G,69.0,145.0,NaN,NaN,1980-06-06,43.35
804,zollsh01w,G,67.0,148.0,Virginia,NaN,1986-07-11,37.25

In [31]:
players_awards = pd.read_csv('dataset_edited/awards_players_abrev.csv')
players_awards

      playerID   award  year
0   thompti01w  ASGMVP     1
1   leslili01w  ASGMVP     2
2   leslili01w  ASGMVP     3
3   teaslni01w  ASGMVP     4
4   swoopsh01w  ASGMVP     6
..         ...     ...   ...
90  boltoru01w  WADTHM     7
91  holdsch01w  WADTHM     7
92  penicti01w  WADTHM     7
93  tauradi01w  WADTHM     7
94  weathte01w  WADTHM     7

[95 rows x 3 columns]

In [32]:
coach_awards = players_awards[players_awards['award'] == 'COTY']
players_awards = players_awards[players_awards['award'] != 'COTY']
coach_awards = coach_awards.rename(columns={'playerID': 'coachID', 'award':'coachAward'})
coach_awards = coach_awards.reset_index()
coach_awards = coach_awards.drop('index', axis=1)
players_awards = players_awards.reset_index()
players_awards = players_awards.drop('index', axis=1)
coach_awards

      coachID coachAward  year
0  coopemi01w       COTY     1
1  hugheda99w       COTY     2
2  stanlma99w       COTY     3
3  laimbbi01w       COTY     4
4  mcconsu01w       COTY     5
5  whisejo99w       COTY     6
6  thibami99w       COTY     7
7  hugheda99w       COTY     8
8  thibami99w       COTY     9
9  meadoma99w       COTY    10

In [33]:
players_awards

      playerID   award  year
0   thompti01w  ASGMVP     1
1   leslili01w  ASGMVP     2
2   leslili01w  ASGMVP     3
3   teaslni01w  ASGMVP     4
4   swoopsh01w  ASGMVP     6
..         ...     ...   ...
80  boltoru01w  WADTHM     7
81  holdsch01w  WADTHM     7
82  penicti01w  WADTHM     7
83  tauradi01w  WADTHM     7
84  weathte01w  WADTHM     7

[85 rows x 3 columns]

In [34]:
coaches = pd.read_csv('dataset_edited/coaches.csv')
coaches = coaches.set_index(['tmID', 'year'])

coaches.rename(columns={'stint': 'coachStint', 'won':'coachWon', 'lost':'coachLost', 'W/L Ratio': 'coach W/L Ratio'}, inplace=True)
coaches

              coachID  coachStint  coachWon  coachLost  coach W/L Ratio
tmID year
WAS  5     adamsmi01w           0        17         17         1.000000
NYL  1     adubari99w           0        20         12         1.666667
     2     adubari99w           0        21         11         1.909091
     3     adubari99w           0        18         14         1.285714
     4     adubari99w           0        16         18         0.888889
...               ...         ...       ...        ...              ...
IND  6     wintebr01w           0        21         13         1.615385
     7     wintebr01w           0        21         13         1.615385
     8     wintebr01w           0        21         13         1.615385
MIN  8     zierddo99w           0        10         24         0.416667
     9     zierddo99w           0        16         18         0.888889

[162 rows x 5 columns]

In [35]:
teams = pd.read_csv('dataset_edited/teams.csv')
teams = teams.set_index(['tmID', 'year'])
teams

          confID  seed results playoff  o_fga  o_fta  o_3pa  o_oreb  o_dreb  \
tmID year
ATL  9        EA     7  label0       N   2258    725    598     340     737
     10       EA     2  label1       Y   2428    755    374     404     855
CHA  1        EA     8  label0       N   1903    577    386     305     630
     2        EA     4  label3       Y   1780    528    428     309     639
     3        EA     2  label1       Y   1790    663    527     302     653
...          ...   ...     ...     ...    ...    ...    ...     ...     ...
WAS  6        EA     5  label0       N   1968    546    510     266     677
     7        EA     4  label1       Y   2199    715    522     330     770
     8        EA     5  label0       N   2170    839    528     335     783
     9        EA     6  label0       N   2131    659    460     362     770
     10       EA     4  label1       Y   2205    827    426     388     803

           o_reb  ...  win_ratio  homeW_ratio  awayW_ratio   min  o_fg%  \
tmID year         ...
ATL  9      1077  ...      0.118        0.059        0.176  6825  39.64
     10     1259  ...      0.529        0.706        0.353  6950  44.85
CHA  1       935  ...      0.250        0.312        0.188  6475  42.67
     2       948  ...      0.562        0.688        0.438  6500  41.91
     3       955  ...      0.562        0.688        0.438  6450  43.02
...          ...  ...        ...          ...          ...   ...    ...
WAS  6       943  ...      0.471        0.588        0.353  6900  43.04
     7      1100  ...      0.529        0.765        0.294  6850  46.20
     8      1118  ...      0.471        0.471        0.471  6900  40.41
     9      1132  ...      0.294        0.353        0.235  6825  41.53
     10     1191  ...      0.471        0.647        0.294  6875  42.31

           o_ft%  o_3p%  d_fg%  d_ft%  d_3p%
tmID year
ATL  9     74.76  33.78  44.99  73.97  34.26
     10    75.36  30.48  42.15  77.32  34.15
CHA  1     74.70  33.94  45.54  74.44  32.62
     2     77.65  35.75  39.65  76.69  30.89
     3     73.91  40.04  43.05  74.25  35.75
...          ...    ...    ...    ...    ...
WAS  6     71.06  35.49  44.50  75.46  34.64
     7     73.85  35.82  43.24  74.62  36.89
     8     79.62  30.87  41.70  76.90  33.65
     9     66.01  35.43  44.32  74.08  34.09
     10    70.13  32.63  43.27  75.50  33.89

[142 rows x 41 columns]

In [36]:
teamsCoachesComb = coaches.join(teams, how='inner')
teamsCoachesComb

              coachID  coachStint  coachWon  coachLost  coach W/L Ratio  \
tmID year
ATL  9     meadoma99w           0         4         30         0.133333
     10    meadoma99w           0        18         16         1.125000
CHA  1     dunntr01wc           0         8         24         0.333333
     2     donovan99w           0        18         14         1.285714
     3     donovan99w           0        18         14         1.285714
...               ...         ...       ...        ...              ...
WAS  8     adubari99w           1         0          4         0.000000
     8     rollitr01w           2        16         14         1.142857
     9     kenlaje99w           2         2         10         0.200000
     9     rollitr01w           1         8         14         0.571429
     10    plankju99w           0        16         18         0.888889

          confID  seed results playoff  o_fga  ...  win_ratio  homeW_ratio  \
tmID year                                      ...
ATL  9        EA     7  label0       N   2258  ...      0.118        0.059
     10       EA     2  label1       Y   2428  ...      0.529        0.706
CHA  1        EA     8  label0       N   1903  ...      0.250        0.312
     2        EA     4  label3       Y   1780  ...      0.562        0.688
     3        EA     2  label1       Y   1790  ...      0.562        0.688
...          ...   ...     ...     ...    ...  ...        ...          ...
WAS  8        EA     5  label0       N   2170  ...      0.471        0.471
     8        EA     5  label0       N   2170  ...      0.471        0.471
     9        EA     6  label0       N   2131  ...      0.294        0.353
     9        EA     6  label0       N   2131  ...      0.294        0.353
     10       EA     4  label1       Y   2205  ...      0.471        0.647

           awayW_ratio   min  o_fg%  o_ft%  o_3p%  d_fg%  d_ft%  d_3p%
tmID year
ATL  9           0.176  6825  39.64  74.76  33.78  44.99  73.97  34.26
     10          0.353  6950  44.85  75.36  30.48  42.15  77.32  34.15
CHA  1           0.188  6475  42.67  74.70  33.94  45.54  74.44  32.62
     2           0.438  6500  41.91  77.65  35.75  39.65  76.69  30.89
     3           0.438  6450  43.02  73.91  40.04  43.05  74.25  35.75
...                ...   ...    ...    ...    ...    ...    ...    ...
WAS  8           0.471  6900  40.41  79.62  30.87  41.70  76.90  33.65
     8           0.471  6900  40.41  79.62  30.87  41.70  76.90  33.65
     9           0.235  6825  41.53  66.01  35.43  44.32  74.08  34.09
     9           0.235  6825  41.53  66.01  35.43  44.32  74.08  34.09
     10          0.294  6875  42.31  70.13  32.63  43.27  75.50  33.89

[162 rows x 46 columns]

In [37]:
# playerAwardsComb and playerTeams
playerTeams = pd.read_csv('dataset_edited/players_teams_w_percentages_wo_post.csv')
playerTeams.set_index('playerID', inplace=True)
playerTeams

,Unnamed: 0,year,stint,tmID,GP,GS,minutes,points,oRebounds,dRebounds,...,pfpg,fg%,3p%,ft%,orpg,drpg,pointsFromFieldGoal,percentage_pointsFromFieldGoal,percentage_pointsFromFreeThrow,percentage_pointsFromThree
playerID,,,,,,,,,,,,,,,,,,,,,
abrossv01w,0,2,0,MIN,26,23,846,343,43,131,...,2.692308,38.907850,25.000000,72.727273,1.653846,5.038462,95.0,27.696793,27.988338,5.539359
abrossv01w,1,3,0,MIN,27,27,805,314,45,101,...,2.703704,37.658228,33.333333,48.275862,1.666667,3.740741,99.0,31.528662,17.834395,6.369427
abrossv01w,2,4,0,MIN,30,25,792,318,44,97,...,2.633333,39.298246,30.487805,70.408163,1.466667,3.233333,87.0,27.358491,21.698113,7.861635
abrossv01w,3,5,0,MIN,22,11,462,146,17,57,...,1.909091,35.251799,37.735849,60.869565,0.772727,2.590909,29.0,19.863014,19.178082,13.698630
abrossv01w,4,6,0,MIN,31,31,777,304,29,78,...,2.774194,39.492754,40.243902,72.602740,0.935484,2.516129,76.0,25.000000,17.434211,10.855263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zakalok01w,1871,3,2,PHO,5,0,37,6,0,3,...,0.800000,33.333333,0.000000,50.000000,0.000000,0.600000,2.0,33.333333,33.333333,0.000000
zarafr01w,1872,6,0,SEA,34,4,413,90,11,28,...,0.852941,40.000000,22.727273,80.952381,0.323529,0.823529,29.0,32.222222,18.888889,5.555556
zellosh01w,1873,10,0,DET,34,4,802,406,25,81,...,3.264706,39.730640,30.612245,85.635359,0.735294,2.382353,103.0,25.369458,38.177340,3.694581
zirkozu01w,1874,4,0,WAS,6,0,30,11,0,2,...,0.500000,50.000000,50.000000,100.000000,0.000000,0.333333,1.0,9.090909,54.545455,9.090909
zollsh01w,1875,9,0,MIN,6,0,30,10,1,2,...,0.333333,25.000000,33.333333,83.333333,0.166667,0.333333,1.0,10.000000,50.000000,10.000000

In [38]:

players = players.set_index('playerID')

playersTeamsComb = playerTeams.join(players, how='inner')
#playersTeamsComb.to_csv('playersTeamsComb.csv')
playersTeamsComb

,Unnamed: 0,year,stint,tmID,GP,GS,minutes,points,oRebounds,dRebounds,...,percentage_pointsFromFieldGoal,percentage_pointsFromFreeThrow,percentage_pointsFromThree,pos,height,weight,college,collegeOther,birthDate,age
playerID,,,,,,,,,,,,,,,,,,,,,
abrossv01w,0,2,0,MIN,26,23,846,343,43,131,...,27.696793,27.988338,5.539359,F,74.0,169.0,Connecticut,NaN,1980-07-09,43.26
abrossv01w,1,3,0,MIN,27,27,805,314,45,101,...,31.528662,17.834395,6.369427,F,74.0,169.0,Connecticut,NaN,1980-07-09,43.26
abrossv01w,2,4,0,MIN,30,25,792,318,44,97,...,27.358491,21.698113,7.861635,F,74.0,169.0,Connecticut,NaN,1980-07-09,43.26
abrossv01w,3,5,0,MIN,22,11,462,146,17,57,...,19.863014,19.178082,13.698630,F,74.0,169.0,Connecticut,NaN,1980-07-09,43.26
abrossv01w,4,6,0,MIN,31,31,777,304,29,78,...,25.000000,17.434211,10.855263,F,74.0,169.0,Connecticut,NaN,1980-07-09,43.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zakalok01w,1871,3,2,PHO,5,0,37,6,0,3,...,33.333333,33.333333,0.000000,C,78.0,174.0,NaN,NaN,1977-12-18,45.81
zarafr01w,1872,6,0,SEA,34,4,413,90,11,28,...,32.222222,18.888889,5.555556,G,70.0,146.0,NaN,NaN,1976-12-08,46.84
zellosh01w,1873,10,0,DET,34,4,802,406,25,81,...,25.369458,38.177340,3.694581,G,70.0,155.0,Pittsburgh,NaN,1986-08-28,37.12
zirkozu01w,1874,4,0,WAS,6,0,30,11,0,2,...,9.090909,54.545455,9.090909,G,69.0,145.0,NaN,NaN,1980-06-06,43.35
zollsh01w,1875,9,0,MIN,6,0,30,10,1,2,...,10.000000,50.000000,10.000000,G,67.0,148.0,Virginia,NaN,1986-07-11,37.25

In [39]:
players_awards = players_awards.set_index(['playerID', 'year'])
playersTeamsComb = playersTeamsComb.reset_index().set_index(['playerID', 'year'])
playersTeamsAwardsComb = playersTeamsComb.join(players_awards , how='left')
playersTeamsAwardsComb

                 Unnamed: 0  stint tmID  GP  GS  minutes  points  oRebounds  \
playerID   year
abrossv01w 2              0      0  MIN  26  23      846     343         43
           3              1      0  MIN  27  27      805     314         45
           4              2      0  MIN  30  25      792     318         44
           5              3      0  MIN  22  11      462     146         17
           6              4      0  MIN  31  31      777     304         29
...                     ...    ...  ...  ..  ..      ...     ...        ...
zakalok01w 3           1871      2  PHO   5   0       37       6          0
zarafr01w  6           1872      0  SEA  34   4      413      90         11
zellosh01w 10          1873      0  DET  34   4      802     406         25
zirkozu01w 4           1874      0  WAS   6   0       30      11          0
zollsh01w  9           1875      0  MIN   6   0       30      10          1

                 dRebounds  rebounds  ...  percentage_pointsFromFreeThrow  \
playerID   year                       ...
abrossv01w 2           131       174  ...                       27.988338
           3           101       146  ...                       17.834395
           4            97       141  ...                       21.698113
           5            57        74  ...                       19.178082
           6            78       107  ...                       17.434211
...                    ...       ...  ...                             ...
zakalok01w 3             3         3  ...                       33.333333
zarafr01w  6            28        39  ...                       18.888889
zellosh01w 10           81       106  ...                       38.177340
zirkozu01w 4             2         2  ...                       54.545455
zollsh01w  9             2         3  ...                       50.000000

                 percentage_pointsFromThree  pos  height  weight      college  \
playerID   year
abrossv01w 2                       5.539359    F    74.0   169.0  Connecticut
           3                       6.369427    F    74.0   169.0  Connecticut
           4                       7.861635    F    74.0   169.0  Connecticut
           5                      13.698630    F    74.0   169.0  Connecticut
           6                      10.855263    F    74.0   169.0  Connecticut
...                                     ...  ...     ...     ...          ...
zakalok01w 3                       0.000000    C    78.0   174.0          NaN
zarafr01w  6                       5.555556    G    70.0   146.0          NaN
zellosh01w 10                      3.694581    G    70.0   155.0   Pittsburgh
zirkozu01w 4                       9.090909    G    69.0   145.0          NaN
zollsh01w  9                      10.000000    G    67.0   148.0     Virginia

                 collegeOther   birthDate    age  award
playerID   year
abrossv01w 2              NaN  1980-07-09  43.26    NaN
           3              NaN  1980-07-09  43.26    NaN
           4              NaN  1980-07-09  43.26    NaN
           5              NaN  1980-07-09  43.26    NaN
           6              NaN  1980-07-09  43.26    NaN
...                       ...         ...    ...    ...
zakalok01w 3              NaN  1977-12-18  45.81    NaN
zarafr01w  6              NaN  1976-12-08  46.84    NaN
zellosh01w 10             NaN  1986-08-28  37.12    NaN
zirkozu01w 4              NaN  1980-06-06  43.35    NaN
zollsh01w  9              NaN  1986-07-11  37.25    NaN

[1880 rows x 47 columns]

In [40]:
teamsCoachesComb = teamsCoachesComb.reset_index().set_index(['coachID', 'year'])
coach_awards = coach_awards.reset_index().set_index(['coachID', 'year'])

teamsCoachesAwardsComb = teamsCoachesComb.join(coach_awards, how='left')
teamsCoachesAwardsComb

                tmID  coachStint  coachWon  coachLost  coach W/L Ratio confID  \
coachID    year
meadoma99w 9     ATL           0         4         30         0.133333     EA
           10    ATL           0        18         16         1.125000     EA
dunntr01wc 1     CHA           0         8         24         0.333333     EA
donovan99w 2     CHA           0        18         14         1.285714     EA
           3     CHA           0        18         14         1.285714     EA
...              ...         ...       ...        ...              ...    ...
adubari99w 8     WAS           1         0          4         0.000000     EA
rollitr01w 8     WAS           2        16         14         1.142857     EA
kenlaje99w 9     WAS           2         2         10         0.200000     EA
rollitr01w 9     WAS           1         8         14         0.571429     EA
plankju99w 10    WAS           0        16         18         0.888889     EA

                 seed results playoff  o_fga  ...  awayW_ratio   min  o_fg%  \
coachID    year                               ...
meadoma99w 9        7  label0       N   2258  ...        0.176  6825  39.64
           10       2  label1       Y   2428  ...        0.353  6950  44.85
dunntr01wc 1        8  label0       N   1903  ...        0.188  6475  42.67
donovan99w 2        4  label3       Y   1780  ...        0.438  6500  41.91
           3        2  label1       Y   1790  ...        0.438  6450  43.02
...               ...     ...     ...    ...  ...          ...   ...    ...
adubari99w 8        5  label0       N   2170  ...        0.471  6900  40.41
rollitr01w 8        5  label0       N   2170  ...        0.471  6900  40.41
kenlaje99w 9        6  label0       N   2131  ...        0.235  6825  41.53
rollitr01w 9        6  label0       N   2131  ...        0.235  6825  41.53
plankju99w 10       4  label1       Y   2205  ...        0.294  6875  42.31

                 o_ft%  o_3p%  d_fg%  d_ft%  d_3p%  index  coachAward
coachID    year
meadoma99w 9     74.76  33.78  44.99  73.97  34.26    NaN         NaN
           10    75.36  30.48  42.15  77.32  34.15    9.0        COTY
dunntr01wc 1     74.70  33.94  45.54  74.44  32.62    NaN         NaN
donovan99w 2     77.65  35.75  39.65  76.69  30.89    NaN         NaN
           3     73.91  40.04  43.05  74.25  35.75    NaN         NaN
...                ...    ...    ...    ...    ...    ...         ...
adubari99w 8     79.62  30.87  41.70  76.90  33.65    NaN         NaN
rollitr01w 8     79.62  30.87  41.70  76.90  33.65    NaN         NaN
kenlaje99w 9     66.01  35.43  44.32  74.08  34.09    NaN         NaN
rollitr01w 9     66.01  35.43  44.32  74.08  34.09    NaN         NaN
plankju99w 10    70.13  32.63  43.27  75.50  33.89    NaN         NaN

[162 rows x 48 columns]

In [41]:
teamsCoachesAwardsComb = teamsCoachesAwardsComb.reset_index().set_index(['tmID', 'year'])
playersTeamsAwardsComb = playersTeamsAwardsComb.reset_index().set_index(['tmID', 'year'])

allComb = playersTeamsAwardsComb.join(teamsCoachesAwardsComb, how='inner')

allComb = allComb.drop('index', axis=1)
allComb = allComb.drop('Unnamed: 0', axis=1)
allComb['coachAward'] = allComb['coachAward'].fillna(0).replace('COTY', 1)
allComb

             playerID  stint  GP  GS  minutes  points  oRebounds  dRebounds  \
tmID year
ATL  9     balesal01w      2  17   9      389      82         20         82
     9     castriz01w      0  29  20      671     269         10         55
     9     desouer01w      0  12   8      277     112         39         40
     9     haynikr01w      0  33   3      486      94         15         41
     9      lacyje01w      0  33  22      605     189         35         54
...               ...    ...  ..  ..      ...     ...        ...        ...
WAS  10    langhcr01w      0  34  22     1013     408        101        167
     10     mannkr01w      0  16   0       95      25          2         12
     10    melvich01w      0  34  33      756     201         79         79
     10    mosbybe01w      0  24   0      169      46         15         22
     10    sanfona01w      0  34  13      663     213         55         92

           rebounds  assists  ...  homeW_ratio  awayW_ratio   min  o_fg%  \
tmID year                     ...
ATL  9          102       11  ...        0.059        0.176  6825  39.64
     9           65       52  ...        0.059        0.176  6825  39.64
     9           79        8  ...        0.059        0.176  6825  39.64
     9           56       82  ...        0.059        0.176  6825  39.64
     9           89       27  ...        0.059        0.176  6825  39.64
...             ...      ...  ...          ...          ...   ...    ...
WAS  10         268       29  ...        0.647        0.294  6875  42.31
     10          14        6  ...        0.647        0.294  6875  42.31
     10         158       36  ...        0.647        0.294  6875  42.31
     10          37        3  ...        0.647        0.294  6875  42.31
     10         147       22  ...        0.647        0.294  6875  42.31

           o_ft%  o_3p%  d_fg%  d_ft%  d_3p%  coachAward
tmID year
ATL  9     74.76  33.78  44.99  73.97  34.26           0
     9     74.76  33.78  44.99  73.97  34.26           0
     9     74.76  33.78  44.99  73.97  34.26           0
     9     74.76  33.78  44.99  73.97  34.26           0
     9     74.76  33.78  44.99  73.97  34.26           0
...          ...    ...    ...    ...    ...         ...
WAS  10    70.13  32.63  43.27  75.50  33.89           0
     10    70.13  32.63  43.27  75.50  33.89           0
     10    70.13  32.63  43.27  75.50  33.89           0
     10    70.13  32.63  43.27  75.50  33.89           0
     10    70.13  32.63  43.27  75.50  33.89           0

[2148 rows x 93 columns]

In [42]:
allComb.to_csv('combinedData.csv', index=False)